<tr>
  <td class="email-content" align="center">
    <table style="width: 100%; margin: 0 auto; background-color: #ffffff;" class="p-none" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td style="font-size: 14px; color:#02130e;">

          Il semblerait que le transfert de votre argent vers votre compte bancaire ait échoué.<br>

          Cela peut s'expliquer par un problème avec votre banque.<br>

          Pour plus d'informations, nous vous invitons à nous contacter à l'adresse support@soan-solutions.io, ou à contacter votre banque.<br>

        </td>
      </tr>
    </table>
  </td>
</tr>