<tr>
  <td>
    <table
      id="header"
      style="
        width: 100%;
        background-color: #02120e;
        color: #ffffff;
        margin: 0 auto;
      "
      class="p-none"
      bgcolor="#02120E"
      border="0"
      cellpadding="0"
      cellspacing="0"
    >
    P
      <tr>
        <td
          aria-hidden="true"
          style="
            height: 20px;
            font-size: 0px;
            line-height: 0px;
            margin-top: 0;
            margin-bottom: 0;
          "
          height="20"
        >
          &nbsp;
        </td>
        <td
          aria-hidden="true"
          style="
            height: 20px;
            font-size: 0px;
            line-height: 0px;
            margin-top: 0;
            margin-bottom: 0;
          "
          height="20"
        >
          &nbsp;
        </td>
      </tr>

      <tr>
        <td
          id="logo-container"
          style="width: 80px; margin: 0 auto; vertical-align: middle"
          align="center"
          valign="middle"
        >
        <a href="https://www.soan-solutions.io">
            <img
              src="https://soan-mail-assets.s3.eu-west-3.amazonaws.com/service/28-07-2022/logo%402x.png"
              srcset="https://soan-mail-assets.s3.eu-west-3.amazonaws.com/service/28-07-2022/logo%402x.png"
              style="display: block; width: 30px; max-width: 30px"
              alt="Logo"
              width="30"
              height="30"
              style="vertical-align: middle"
            />
          </a>
        </td>

        {% if header_title is defined %} 

        <td
          style="vertical-align: middle; font-size: 14px; padding-right: 15px"
          valign="middle"
        >
          <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0; margin: 0"
          >
            <tr>
              <td>
                <h1
                  class="header-title contrast"
                  style="
                    margin: 0;
                    font-size: 27px;
                    line-height: 30px;
                    font-weight: 600;
                    text-align: left;
                    color: #d2d4d4;
                  "
                >
                  {{ header_title }}
                </h1>
              </td>
            </tr>
            {% if header_subtitle is defined %} 
              <tr>
                <td>
                  <h2
                    class="header-title"
                    style="
                      margin: 0;
                      font-weight: 600;
                      line-height: 24px;
                      text-align: left;
                      color: #fff;
                    "
                  >
                  {{ header_subtitle }}              
                  </h2>
                </td>
              </tr>
            {% endif %}
          </table>
        </td>
        {% else %}
        <td></td>
        {% endif %}
      </tr>

      <tr>
        <td
          aria-hidden="true"
          style="
            height: 20px;
            font-size: 0px;
            line-height: 0px;
            margin-top: 0;
            margin-bottom: 0;
          "
          height="20"
        >
          &nbsp;
        </td>
        <td
          aria-hidden="true"
          style="
            height: 20px;
            font-size: 0px;
            line-height: 0px;
            margin-top: 0;
            margin-bottom: 0;
          "
          height="20"
        >
          &nbsp;
        </td>
      </tr>
    
    </table>
  </td>

  <td></td>
</tr>
