<tr>
    <td class="email-content" align="center">
      <table style="width: 100%; margin: 0 auto; background-color: #ffffff;" class="p-none" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td style="font-size: 14px; color:#02130e;">
            
            <b>{{ user_name }}</b> vous a envoyé une demande de paiement récurrent. <br>

            Montant TTC des échéances : <b>{{ demand_recuring_amount }} €</b><br>
            
            Bénéficiaire : <b>{{ user_company }}</b><br>

            {{ #if_document }}

            Pour lancer la procédure de paiement récurrent, il vous suffit de cliquer sur le bouton ci-dessous.<br>

            Pour toute question, n'hésitez pas à écrire à support@soan-solutions.io.<br>

            <a href="demand_paiement_link"> paiement link</a>
              
          </td>
        </tr>
      </table>
    </td>
  </tr>